<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Whittier Schedule Planner</title>
<script type="text/javascript" src="//use.typekit.net/vsn2wxq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel='stylesheet' type='text/css' href='/static/style.css' />
<link rel='stylesheet' type='text/css' href='/static/fullcalendar/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='/static/fullcalendar/fullcalendar/fullcalendar.print.css' media='print' />
<script type='text/javascript' src='/static/fullcalendar/jquery/jquery-1.8.1.min.js'></script>
<script type='text/javascript' src='/static/fullcalendar/jquery/jquery-ui-1.8.23.custom.min.js'></script>
<script type='text/javascript' src='/static/fullcalendar/fullcalendar/fullcalendar.min.js'></script>
<script type='text/javascript' src='/static/makeGradients.js'></script>
<script type='text/javascript' src='/static/jquery.color-2.1.2.min.js'></script>
<script type='text/javascript' src='/static/gradient-LinearOnly.min.js'></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39938907-1', 'avinashvakil.com');
  ga('send', 'pageview');

</script>
<script>
var classColorsAndDepts = { 
%for aclass in reversed( sortedclasses ):
'{{aclass.shortname}}':['{{aclass.deptname}}','{{colordata[aclass.deptname]}}'],
%end
}
var deptsToClasses = { 
%for adept in deptclasses.keys():
'{{adept}}':[\\
%for aclass in deptclasses[adept]:
'#{{aclass.shortname}}',\\
%end
],
%end
}

</script>
</head>
<body>
%if 'i.avinashvakil.com:9999' in reqdata.headers.get('Host'):
<div style="background:red;width:100%;color:white;">THIS SITE IS MOVING TO <em>SCHEDULER.AVAKIL.COM</em><br>
PLEASE UPDATE YOUR BOOKMARKS!<br>
All you need to do is replace "i.avinashvakil.com:9999" with "scheduler.avakil.com". The paths will not change.</div>
%end
<div class="acalendar" id='calendar'></div>

<script type='text/javascript'>

function addMinutes(date, minutes) {
    return new Date(date.getTime() + minutes*60000);
}


	
		var date = new Date();
		var baseDate = new Date(2013, 6, 1)
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar').fullCalendar({
			editable: false,
			allDaySlot: false,
			minTime: 7,
			maxTime: 22,
			axisFormat: 'HH:mm',
			timeFormat: {
			    agenda: 'HH:mm{ - HH:mm}'
			},
			firstHour: 8,
			defaultView: 'agendaWeek',
			firstDay: 1,
			header: {
   				left:   '',
   				center: '',
				right:  ''
			},
			columnFormat: {
				month: 'ddd',
				week: 'dddd',
				day: 'dddd'
			},
			
			events: [
				%for aclass in classesList:
				%for aClassTime in aclass.weektime:
				{
					title: "{{!aclass.name.strip()}}",
					start: addMinutes(baseDate,{{ aClassTime[0] }}),
					end: addMinutes(baseDate,{{ aClassTime[1] }}),
					allDay: false,
					url: "{{ generatePSV( set(classesReq).difference([aclass.crn]) ) }}",
					backgroundColor: '#{{colordata[aclass.deptname]}}'
				},
				%end
				%end
			]
		});
		$('#calendar').fullCalendar( 'gotoDate', 2013,6,1)

		

</script>
%if isValidSchedule and len(classesList)>0:
<a href="{{!reqdata.url + "/pdf.pdf"}}"><div class='abutton'>Printable Schedule (PDF)</div></a>
<a href="{{!reqdata.url + "/ws.ics"}}"><div class='abutton'>iCalendar File</div></a>
%end
%if not isValidSchedule:
<a href="../permute/{{generatePSV(classesReq)}}"><div class='abutton conflictbutton'>RESOLVE CONFLICTS</div></a>
%end

<div class="currentclassesview">
<h2>Currently Selected Classes</h2>
%maxFinals = max( [0] + map( lambda x:len(x) , theSchedule.mostFinalsOnADay().values() ) ) 
%if maxFinals > 1:
<div class="finalswarning">Your schedule results in having {{ maxFinals }} finals on a single day!
%if maxFinals > 2:
Having more than 3 final exams on a single day allows you to have them moved. Remember to speak to your professors before the drop date.
%end
</div>
%end
%if totalCredits[0] > 15:
<div class="finalswarning">Your schedule is over 15 credits. The school will bill you for this.
%if totalCredits[0] > 17:
You are also over 18 credits. You will need a course load exception.
%end
</div>
%end
%if totalCredits[1] < 12 and totalCredits[1] > 1:
<div class="finalswarning">You do not have enough credits to qualify as full time! You need at least 12.</div>
%end

<h3>click to remove</h3>
<div id='classlist'>
%for aclass in sorted(classesList,key=lambda x:x.shortname):
%if len(classesReq)>1:
<a href="{{ generatePSV( set(classesReq).difference([aclass.crn]) ) }}">
%else:
<a href="../">
%end
<div class="aclass_litup aclass chosen" style="background: #{{colordata[aclass.deptname]}};">
<span class='classname'><span class='classshortname'>{{aclass.shortname}}</span> <br> {{aclass.name}}</span>
<br><span class='profname'>with {{aclass.instructor}}</span><br>
%for atime in aclass.readableTimes():
{{ atime[0] }} {{ atime[1][0] }}:{{ atime[1][1] }} to {{ atime[2][0] }}:{{ atime[2][1] }} <br>
%end
<ol class="classinfolist">
<li> <span class='left'>CRN</span><span class='right'>{{aclass.crn}}</span></li>
<li> <span class='left'>Room</span><span class='right'>{{aclass.building}} {{aclass.room}}</span></li>
<li> <span class='left'>LibEd Code</span><span class='right'>{{aclass.libed}}</span></li>
<li> <span class='left'>Enrollment</span><span class='right'>{{aclass.currentEnroll}}/{{aclass.maxEnroll}}</span></li>
<li> <span class='left'>Credits</span> <span class='right'>{{aclass.creditrange[0]}} to {{aclass.creditrange[1]}}</span></li>
%for afinal in aclass.finalexams:
<li> <span class='left'>Final Exam</span> <span class='right'>{{afinal[0].strftime("%a %b %d %H:%M")}}</span></li>
%end
</ol>
<div class="notes">
%for anote in aclass.getNotes():
{{anote}}<br>
%end
</div>
%if len(aclass.coreqs)>0:
{{len(aclass.coreqs)}} coreq(s) detected.
%if aclass.coreqsOR:
They are either/or.
%end
%end
%if not aclass.open:
<div class="warning"> CLASS FULL </div>
%end
</div>
</a>
%end
<br>Total Credits: {{totalCredits[0]}} - {{totalCredits[1]}}
</div>
<br>
<span class="protips">
<br>PROTIP: To save your schedule, just bookmark this page.
<br>PROTIP 2: The CRN numbers for your classes are in the URL for this page!
</span>
</div>
<br>
%if not printview:

  <div class='searchdivBASE'></div>
  <div class='searchdiv'>
  <h2>Add Classes</h2>
  <form>
<!-- 
    <label for="target">Filter Classes</label></br>
 -->
    <input id="filterBox" placeholder="Filter by CRN, Name, Professor, LibEd, etc..." type="text" />
  </form>
  </div>

<div id='colorkey'>
</div>

<div id='classpicker'>
<div class="classpicker standardclasses">
%for aclass in sortedclasses:
%if aclass not in classesList:
<a href="{{generatePSV(classesReq+[aclass.crn])}}">
%end
<div class="aclass notchosen {{aclass not in classesList}}unique" id="{{aclass.shortname}}">
<span class='classname'><span class='classshortname'>{{aclass.shortname}}</span> <br> {{aclass.name}}</span>
<br><span class='profname'>with {{aclass.instructor}}</span><br>
%for atime in aclass.readableTimes():
{{ atime[0] }} {{ atime[1][0] }}:{{ atime[1][1] }} to {{ atime[2][0] }}:{{ atime[2][1] }} <br>
%end
<ol class="classinfolist">
<li> <span class='left'>CRN</span><span class='right'>{{aclass.crn}}</span></li>
<li> <span class='left'>Room</span><span class='right'>{{aclass.building}} {{aclass.room}}</span></li>
<li> <span class='left'>LibEd Code</span><span class='right'>{{aclass.libed}}</span></li>
<li> <span class='left'>Enrollment</span><span class='right'>{{aclass.currentEnroll}}/{{aclass.maxEnroll}}</span></li>
<li> <span class='left'>Credits</span> <span class='right'>{{aclass.creditrange[0]}} to {{aclass.creditrange[1]}}</span></li>
%for afinal in aclass.finalexams:
<li> <span class='left'>Final Exam</span> <span class='right'>{{afinal[0].strftime("%a %b %d %H:%M")}}</span></li>
%end
</ol>
<div class="notes">
%for anote in aclass.getNotes():
{{anote}}<br>
%end
</div>
%if len(aclass.coreqs)>0:
{{len(aclass.coreqs)}} coreq(s) detected.
%if aclass.coreqsOR:
They are either/or.
%end
%end
%if not compatibilityData[aclass]:
<div class="warning"> CONFLICTS </div>
%end
%if not aclass.open:
<div class="warning"> CLASS FULL </div>
%end
</div>
%if aclass not in classesList:
</a>
%end

%end
</div>

<div id="pairedclasseslist" class="classpicker pairedclasses">
<h2>CON1 Paired Classes</h2>


%for aconpair in classmanager.con1.keys():
<h3>PAIR {{aconpair}}</h3> <a href="{{generatePSV(classesReq+[x.crn for x in classmanager.con1[aconpair] if x.crn not in classesReq])}}"><div class="smallbutton onaline">add all in pair</div></a><br>
%for aclass in classmanager.con1[aconpair]:
%if aclass not in classesList:
<a href="{{generatePSV(classesReq+[aclass.crn])}}">
%end
<div class="aclass notchosen {{aclass not in classesList}}unique" id="{{aclass.shortname}}">
<span class='classname'><span class='classshortname'>{{aclass.shortname}}</span> <br> {{aclass.name}}</span>
<br><span class='profname'>with {{aclass.instructor}}</span><br>
%for atime in aclass.readableTimes():
{{ atime[0] }} {{ atime[1][0] }}:{{ atime[1][1] }} to {{ atime[2][0] }}:{{ atime[2][1] }} <br>
%end
<ol class="classinfolist">
<li> <span class='left'>CRN</span><span class='right'>{{aclass.crn}}</span></li>
<li> <span class='left'>Room</span><span class='right'>{{aclass.building}} {{aclass.room}}</span></li>
<li> <span class='left'>LibEd Code</span><span class='right'>{{aclass.libed}}</span></li>
<li> <span class='left'>Enrollment</span><span class='right'>{{aclass.currentEnroll}}/{{aclass.maxEnroll}}</span></li>
<li> <span class='left'>Credits</span> <span class='right'>{{aclass.creditrange[0]}} to {{aclass.creditrange[1]}}</span></li>
%for afinal in aclass.finalexams:
<li> <span class='left'>Final Exam</span> <span class='right'>{{afinal[0].strftime("%a %b %d %H:%M")}}</span></li>
%end
</ol>
<div class="notes">
%for anote in aclass.getNotes():
{{anote}}<br>
%end
</div>
%if len(aclass.coreqs)>0:
{{len(aclass.coreqs)}} coreq(s) detected.
%if aclass.coreqsOR:
They are either/or.
%end
%end
%if not compatibilityData[aclass]:
<div class="warning"> CONFLICTS </div>
%end
%if not aclass.open:
<div class="warning"> CLASS FULL </div>
%end
</div>
%if aclass not in classesList:
</a>
%end

%end

%end
</div>

</div>
%end
<br>
(c) Avinash Vakil 2013
Licensed under GPL v3 at http://git.avinashvakil.com/whittier-schedule-planner
<br>Last synchronized at {{timestamp.strftime("%I:%M %p on %B %d, %Y")}} UTC
</body>
</html>