<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Whittier Schedule Planner - Permutations</title>
<script type="text/javascript" src="//use.typekit.net/vsn2wxq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link rel='stylesheet' type='text/css' href='/static/style.css' />
<link rel='stylesheet' type='text/css' href='/static/fullcalendar/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='/static/fullcalendar/fullcalendar/fullcalendar.print.css' media='print' />
<script type='text/javascript' src='/static/fullcalendar/jquery/jquery-1.8.1.min.js'></script>
<script type='text/javascript' src='/static/fullcalendar/jquery/jquery-ui-1.8.23.custom.min.js'></script>
<script type='text/javascript' src='/static/fullcalendar/fullcalendar/fullcalendar.min.js'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39938907-1', 'avinashvakil.com');
  ga('send', 'pageview');

</script>
<script type='text/javascript'>

function addMinutes(date, minutes) {
    return new Date(date.getTime() + minutes*60000);
}


	$(document).ready(function() {
	
		var date = new Date();
		var baseDate = new Date(2013, 6, 1)
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

%for classesList in permutations:		
		$('#calendar{{ permutations.index(classesList) }}').fullCalendar({
			editable: false,
			allDaySlot: false,
			minTime: 7,
			maxTime: 22,
			firstHour: 8,
			axisFormat: 'HH:mm',
			timeFormat: {
			    agenda: 'HH:mm{ - HH:mm}'
			},
			defaultView: 'agendaWeek',
			firstDay: 1,
			header: {
   				left:   '',
   				center: '',
				right:  ''
			},
			columnFormat: {
				month: 'ddd',
				week: 'dddd',
				day: 'dddd'
			},
			
			events: [
				%for aclass in classesList.classes():
				%for aClassTime in aclass.weektime:
				{
					title: '{{aclass.name.strip()}}',
					start: addMinutes(baseDate,{{ aClassTime[0] }}),
					end: addMinutes(baseDate,{{ aClassTime[1] }}),
					allDay: false,
					backgroundColor: '#{{colordata[aclass.deptname]}}'

				},
				%end
				%end
			]
		});
		$('#calendar{{ permutations.index(classesList) }}').fullCalendar( 'gotoDate', 2013,6,1)
%end

		
	});

</script>
</head>
<body>
<h2>Generated {{len(permutations)}} schedule permutations...</h2>
%if not checkCoreq:
<a href='./T'><h3>Not taking into account corequisites. Click to do so (experimental).</h3>
%else:
<a href='./F'><h3>Taking into account corequisites, which is experimental. Click to turn off.</h3>
%end
</a>
%for classesList in permutations:
<div><h3>Permutation #{{permutations.index(classesList)+1}}</h3>
<a href="../../calendar/{{generatePSV( map(lambda x:x.crn,classesList.classes()) )}}"><div class='abutton conflictbutton'>Select Schedule</div></a><br>
CREDITS = {{classesList.credits()[0]}} to {{classesList.credits()[1]}}
<br>Taking: 
%for aclass in classesList.classes():
<div class='smallbutton' style="background: #{{aclass.deptcolor}};">{{ aclass.shortname }} ({{aclass.crn}})</div>
%end
</div>
<div class="acalendar" id='calendar{{ permutations.index(classesList) }}'></div><br>
%end

(c) Avinash Vakil 2013
Licensed under GPL v3 at http://git.avinashvakil.com/whittier-schedule-planner

</body>
</html>
