body > div {
margin-left:auto;
margin-right:auto;

    height: auto;
padding:0px;
display:block;
}

body {
margin-top: 40px;
margin-left:0;
margin-right:0;

padding:0px;
min-width:650px;
text-align:center;
font-family:"jubilat","Helvetica","Arial";
font-size:16px;
background: #F7F7F7
}

h1, h2, h3, .classname {
  font-family: "quatro-slab",serif;
  font-weight: bold;
}

.classname {
  font-weight: 500;
    font-size:115%;

}
.classshortname {
  font-family: "proxima-nova","quatro-slab",serif;
  font-weight: 100;
  font-size:150%;
}
.profname {
  font-family: "quatro-slab",serif;
    font-size:105%;

}
.aclass_litup > .profname {
color: #E8E8E8
}


input {
font-family:"quatro-slab","jubilat","Helvetica","Arial";
font-size:24pt;
width: 800px;
height: 28pt;
text-align:center;
border: 2px solid #dadada;
/* 
-moz-transition: all 1s linear;

transition: all 1s linear;
 */
margin-bottom:10px;
}

input:focus {
box-shadow: 0 0 10px #9ecaed;
/* 
-moz-transition: all 1s linear;
transition: all 1s linear;
*/
}

.inputEFFECTIVE {
/* 
	box-shadow: 0 0 10px red;
 */
}

.searchdiv {
    left: 0;
	width: 100%;
border-color: rgba(63, 163, 163,1);
border-bottom:dashed 1px;
}

/* 
.searchdivPADDER {
padding-bottom: 43px;
}
 */

.searchdiv > h2 {
	margin: 0px;
}

.searchdivONTOP {
    position: fixed;
    left:0px;
    top: 0px;
	right: 0;
		width: auto;
	box-shadow: 0 0 10px black;
	
	-webkit-transition: background 1s linear;
    -webkit-transition: box-shadow 1s linear;

    /* Firefox */
    -moz-transition: background 1s linear;
    -moz-transition: box-shadow 1s linear;

    /* Standard */
    transition: background 1s linear;
    transition: box-shadow 1s linear;

border-color: rgba(0,0,0,0);

}


.protips{
  font-weight: 200;
}

.acalendar {
width: 80%;
margin: 0 auto;
}



.aclass {
display:inline-block;
vertical-align:top;
width: 300px;
color: black;
padding: 10px;
margin: 20px;
-moz-border-radius: 4px;
border-radius: 4px;
border-style:none;
border-width:2px;

overflow:hidden;

background: none;

-webkit-transition: background 1s linear;
-webkit-transition: box-shadow .3s ease-out;
/* Firefox */
-moz-transition: background 1s linear;
-moz-transition: box-shadow .3s ease-out;
/* Standard */
transition: background 1s linear;
transition: box-shadow .3s ease-out;

}

.aclass_hiddensafari {
position:absolute;
left: -10000px;
}

.aclass_litup {
color: white;
}

.chosen:hover{
box-shadow:0 0 20px #AB0716
}

.warning {
background:none;
color:#AB0716;
padding:0;
border:0;
margin-top:6px;
margin-bottom:-10px;
}


.aclass_litup .warning,.aclass:hover .warning  {
background:#AB0716;
color:white;
margin-left:-10px;
width:320px;
}



.classinfolist {
margin: 0;
padding: 0;
padding-top:1em;
list-style-type: none;

}

.classinfolist li {
clear:left;
border-color: #A3A3A3;
border-bottom:dashed 1px;
height:1.25em;
}

.classinfolist li:first-of-type
{
border-top:dashed 1px;
}


.aclass_litup .classinfolist li {
border-bottom-color:white;
}

.classinfolist span {
padding:0 3px 0 0;
}

.classinfolist .left {
float:left;
}

.classinfolist .right {
float:right;
}

.colorkeyitem {
display:inline-block;
width: 150px;
color: white;
padding: 10px;
margin: 1px;
size: 50%;
}


.aclass_hover {
}


.colorkeyitem:hover {
border-style:solid;
border-width:1px;
border-color:black;
margin: 0px;
}

.Falseunique {
border-style:solid;
border-width:5px;
border-color:orange;
margin: 15px;

}

#sidebar {
position: fixed;
top: 0px; height:100%; width:200px;
overflow: scroll;
}

#notsidebar {
/* 
margin-left:200px; top: 20px;

position:relative;
 */
}

#classpicker  a {
text-decoration : none;
}

#classlist a {
text-decoration : none;
}


.abutton {
display:inline-block;
padding:10px;
margin:10px;
background: #07A697;
width: 300px;
color:white;
-moz-border-radius: 4px;
border-radius: 4px;

-webkit-transition: background 1s linear;
-webkit-transition: box-shadow .3s ease-out;
/* Firefox */
-moz-transition: background 1s linear;
-moz-transition: box-shadow .3s ease-out;
/* Standard */
transition: background 1s linear;
transition: box-shadow .3s ease-out;

  font-family: "proxima-nova","quatro-slab",serif;
  font-weight: 100;
  font-size:130%;

}

.abutton:hover {
box-shadow:0 0 20px #07A697
}

.conflictbutton {
background:#AB0716;
color:white;
}

.conflictbutton:hover {
box-shadow:0 0 20px #AB0716
}

.smallbutton {
display:inline-block;
padding:5px;
margin:10px;
background: #07A697;
width: 150px;
color:white;
-moz-border-radius: 4px;
border-radius: 4px;

-webkit-transition: background 1s linear;
-webkit-transition: box-shadow .3s ease-out;
/* Firefox */
-moz-transition: background 1s linear;
-moz-transition: box-shadow .3s ease-out;
/* Standard */
transition: background 1s linear;
transition: box-shadow .3s ease-out;

  font-family: "proxima-nova","quatro-slab",serif;
  font-weight: 100;
  font-size:100%;

}


.currentclassesview {
width:80%;
background-color:white;
padding: 10px;
-moz-border-radius: 4px;
border-radius: 4px;
border-style:none;
border-width:2px;
background: #F0F0F0
}

.notes {
margin-top:5px;
margin-bottom:5px;
}

.finalswarning  {
background:#AB0716;
color:white;
margin-left:-10px;
width:100%;
padding:7px;
}

.onaline {
display:block-inline;
}
